doctype html
html(ng-app="app")
    head
        meta(charset='utf-8')
        title Lemaf angular seed
        // inject:css
        // endinject
    body
        div(ng-controller="MyController")
        hello-world
        // bower:js
        // endinject
        // inject:js
        // endinject