doctype html
html(ng-app="app")
    head
        meta(charset='utf-8')
        title Lemaf angular seed
        // inject:css
        // endinject
    body
        .container
            hello-world
            file-uploader(disabled="false", max-files="3")
        // bower:js
        // endinject
        // inject:js
        // endinject